body{
    margin: 75pt;
}


#quienes-somos hr{
    height: 2px;
}

#destacados div hr{
    height: 2px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header {
    background-size: cover;
    min-height: 100vh;
  }

 .header .navbar-brand {
    background-color: transparent !important;
  }

#contacto div hr{
    height: 3px;

}

.card-body{
    color:cornsilk;
    background-color: cadetblue;
}

#button{
    position: -ms-page;
}

#footer{
    background-color: cadetblue;
    padding-top: 10px;
}

footer{
    font-size:xx-large;
}